@media (max-width: 576px) {
    .container {
        width: 90vw;
    }
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    font-size: 30px;
    color: blue;
}